<admin-room-tab-component xmlns:th="http://www.w3.org/1999/xhtml">
    <table class="table">
        <thead>
        <tr>
            <th>Room Type</th>
            <th>Description</th>
            <th>Photo</th>
            <th>No of  Rooms</th>
            <th>Max guest count</th>
            <th>Daily rent</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room: ${roomTypes}">
            <td th:text="${room.name}"></td>
            <td th:text="${room.description}"></td>
            <td>
                <img th:attr="src=|data:image/jpeg;base64,${room.photoString}|" >
            </td>
            <td th:text="${room.roomCount}"></td>
            <td th:text="${room.maxGuestCount}"></td>
            <td th:text="${room.dailyRent}"></td>
            <td> <button> Edit </button></td>
        </tr>
        </tbody>
    </table>
</admin-room-tab-component>
