<admin-room-tab-component>
    <table class="table">
        <thead>
        <tr>
            <th>Room Type</th>
            <th>No. of Guests</th>
            <th>Check-In</th>
            <th>Check-Out</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room: ${room}">
            <td th:text="${room.roomtype}">Standard</td>
            <td th:text="${room.guests}">2</td>
            <td th:text="${room.checkIn}">2024-02-21</td>
            <td th:text="${room.checkOut}">2024-02-28</td>
            <td th:text="${room.price}">₹1000</td>
            <td> <button> Add to cart</button></td>
        </tr>
        </tbody>
    </table>
</admin-room-tab-component>
