<admin-canteen-tab-component xmlns:th="http://www.w3.org/1999/xhtml">
    <table class="table">
        <thead>
        <tr>
            <th>Food Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="food: ${foods}">
            <td th:text="${food.name}"></td>
            <td th:text="${food.description}"></td>
            <td th:text="${food.foodCategory.name}"></td>
            <td th:text="${food.price}"></td>
            <td> <button class="edit"> Edit</button></td>
        </tr>
        </tbody>
    </table>

</admin-canteen-tab-component>
