<admin-room-tab-component xmlns:th="http://www.w3.org/1999/xhtml">
    <table class="table">
        <thead>
        <tr>
            <th>Room Type</th>
            <th>No of  Rooms</th>
            <th>Default Check-In</th>
            <th>Default Check-Out</th>
            <th>Photo</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room: ${room}">
            <td th:text="${room.roomtype}"></td>
            <td th:text="${room.noOfRooms}"></td>
            <td th:text="${room.checkIn}"></td>
            <td th:text="${room.checkOut}"></td>
            <td th:text="${room.photo}"></td>
            <td th:text="${room.price}"></td>
            <td> <button> Add to cart</button></td>
        </tr>
        </tbody>
    </table>
</admin-room-tab-component>
