<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
				initial-scale=1.0">
    <title>Hotella</title>
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
<!-- for header part -->
<div th:replace="fragments/header :: header"></div>
<div class="main-container">

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="main">


    </div>
</div>
</body>

</html>